<h4>Регистрация</h4>
<%= form_with model: @user, url: '/users/create', nethod: :post do |form| %>
  <p><%= form.label :email, "Введите email" %></p>
  <p><%= form.email_field :email, placeholder: 'E-mail', class: 'form-control', id: 'email' %></p>
  <p><%= form.label :first_name, "Введите имя" %></p>
  <p><%= form.text_field :first_name, placeholder: 'Имя', class: 'form-control', id: 'first_name' %></p>
  <p><%= form.label :second_name, "Введите фамилию" %></p>
  <p><%= form.text_field :second_name, placeholder: 'Фамилия', class: 'form-control', id: 'second_name'%></p>
  <p><%= form.label :phone, "Введите номер телефона"%></p>
  <p><%= form.text_field :phone, class: 'form-control', id: 'phone' %></p>
  <p><%= form.label :password, "Введите пароль" %></p>
  <p><%= form.password_field :password, class: 'form-control', id: 'pass' %></p>
  <p><%= form.label :password_confirmation, "Повторите пароль" %></p>
  <p><%= form.password_field :password_confirmation, class: 'form-control', id: 'pass_conf' %></p>
  <p><%= form.submit("Зарегистрироваться", id: 'btn') %></p>
<% end %>

<div id='error_response-container'></div>