<%= form_with url: "/lessons/update/#{lesson.id}", method: :post do |form| %>
  <p><%= form.label :title, "Измените название урока" %></p>
  <p><%= form.text_field :title, value: lesson.title,class: 'form-control', id: 'question'%>
  <p><%= form.label :part_fr, "Измените описание над видео" %></p>
  <p><%= form.text_field :part_fr, value: lesson.part_fr, class: 'form-control', id: 'question'%>
    <p><%= form.label :part_sc, "Измените описание под видео" %></p>
  <p><%= form.text_field :part_sc, value: lesson.part_sc,class: 'form-control', id: 'question'%>
  <p><%= form.label :main, "Измените основную мысль" %></p>
  <p><%= form.text_field :main, value: lesson.main,class: 'form-control', id: 'mark'%>
  <p><%= form.label :picture, "Измените фотографию" %></p>
  <p><%= form.file_field :picture %>
    <p><%= form.label :file, "Измените видео" %></p>
  <p><%= form.file_field :file %>
  <p><%= form.submit("Изменить", class: "btn btn-outline-light me-2 text-bg-dark") %></p>
<% end %>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
</div>