<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="m-body">
        
      </div>
  </div>
</div>
<% if current_user.role == 2 %>
 <%= form_with url: "/lessons/edit/#{@lesson.id}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Изменить урок</button>
<% end %> 
 <%= form_with url: "/lessons/destroy/#{@lesson.id}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить урок</button>
<% end %> 
<%end%>
 <%= button_to "Назад", "/courses/show/#{@lesson.course_id}",method: :get, class: "btn btn-outline-light me-2 text-bg-dark" %>

<div class="lessons__container">
  <div class = "descs"><h1>Урок <%= @lesson.number%>: <%= @lesson.title%></h1></div>
  <div class = "theory__areas">
    <span class="theory__number">1</span>
    <span class="theory__description"><%= @lesson.part_fr %></span>
  </div>
  <%if @lesson.file.attached?%>
    <div class = "move_center"><%= video_tag(polymorphic_path(@lesson.file), size: "640x360",controls: true)%></div>
  <%end%>
  <div class = "theory__areas">
    <span class="theory__number">2</span>
    <span class="theory__description"><%= @lesson.part_sc %></span>
  </div>
  <%if @lesson.pictures.attached?%>
    <div class = "move_center"><% @lesson.pictures.each do |picture|%>
        <%= image_tag(picture, style:"width:80%;height:auto;") %></div>
      <%end%>
  <%end%>
  <div class = "descs"><h1>Самое важное</h1></div>
  <div class = "theory__areas">
    <span class="theory__number">3</span>
    <span class="theory__description"><%= @lesson.main %></span>
  </div>

<% if Test.find_by(lesson_id: @lesson.id) != nil && current_user.role == 2%>
  <div class = "theory__areas">
    <span class="theory__number">4</span>
    <span class="theory__description"><span class="lesson__quiz__title">Тест по уроку</span></span>
    <div class="lesson__buttons">
      <%= button_to "Перейти", "/tests/show/#{@lesson.id}", method: :get, data: {turbo: false}, class: "btn btn-outline-light me-2 text-bg-dark" %>
    </div>
    <%= form_with url: "/tests/edit/#{@lesson.id}", method: :post do |form| %>
        <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Изменить</button>
    <% end %> 
    <%= form_with url: "/tests/destroy/#{@lesson.id}", method: :post do |form| %>
        <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>
    <% end %> 
  </div>
</div>
<% elsif Test.find_by(lesson_id: @lesson.id) != nil%>
  <div class = "theory__areas">
    <span class="theory__number">4</span>
    <span class="theory__description"><span class="lesson__quiz__title">Тест по уроку</span></span>
    <div class="lesson__buttons">
      <%= link_to "Перейти", "/tests/show/#{@lesson.id}", method: :get, data: {turbo: false}, class: "btn btn-outline-light me-2 text-bg-dark" %>
    </div>
  </div>
</div>
<% elsif Test.find_by(lesson_id: @lesson.id) == nil && current_user.role == 2 %>
  <div class = "theory__areas">
    <span class="theory__number">4</span>
    <span class="theory__description"><span class="lesson__quiz__title">Тест по уроку</span></span>
    <%= form_with url: "/tests/select_num/#{@lesson.id}", method: :post do |form| %>
        <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Создать</button>
    <% end %> 
  </div>
</div>
<%end%>