<%= form_with url: "/courses/create", method: :post do |form| %>
  <p><%= form.label :title, "Введите название курса" %></p>
  <p><%= form.text_field :title, class: 'form-control', id: 'question'%>
  <p><%= form.label :description, "Введите описание курса" %></p>
  <p><%= form.text_field :description, class: 'form-control', id: 'question'%>
    <p><%= form.label :avatar, "Добавьте аватар" %></p>
  <p><%= form.file_field :avatar %>
  <p><%= form.submit("Добавить", id: 'btn') %></p>
<% end %>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
</div>