<%= form_with url: "/courses/update/#{course.id}", method: :post do |form| %>
  <p><%= form.label :title, "Измените название" %></p>
  <p><%= form.text_field :title, value: course.title, class: 'form-control', id: 'question'%>
  <p><%= form.label :description, "Изменить описание" %></p>
  <p><%= form.text_field :description, value: course.description, class: 'form-control', id: 'question'%>
  <p><%= form.submit("Изменить", class: "btn btn-outline-light me-2 text-bg-dark") %></p>
<% end %>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
</div>