<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content" id="m-body">
        
      </div>
  </div>
</div>
<% if current_user != nil %>
  <div class = "btn-container">
<%if CoursesUser.find_by(user_id: current_user.id, course_id: @course.id) == nil%>
    <%= form_with url: "/courses/sign/#{@course[:id]}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Записаться на курс
    </button>
    <% end %> 
<% else %>
    <%= form_with url: "/courses/unsubscribe/#{@course[:id]}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Отписаться от курса
    </button>
    <% end %> 
<%end %>
<%= button_to "Назад", home_path, method: :get, class:"btn btn-outline-light me-2 text-bg-dark" %>
<%if current_user.role == 1 || current_user.role == 2%>
      <%= form_with url: "/courses/edit/#{@course.id}", method: :post do |form| %>
      <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Изменить описание курса
      </button>
      <% end %> 

    <%= form_with url: "/lessons/new/#{@course.id}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Добавить урок
    </button>
    <% end %> 

    <%= form_with url: "/courses/add_user/#{@course.id}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Добавить сотрудника в курс
    </button>
    <% end %> 
    <%= form_with url: "/courses/remove_user/#{@course.id}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Убрать сотрудника из курса
    </button>
    <% end %> 
    <%= form_with url: "/courses/destroy/#{@course.id}", method: :post do |form| %>
    <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Удалить курс
    </button>
    <% end %> 
  </div>
<%end%>
<%end%>
<br>
<div class = "descs"><h1>Программа</h1></div>

<div class = "titles"><%= @course.title %><br></div><br>
<div class = "descs"><%= @course.description %><br></div><br>


<div class = "descs"><h1>Уроки</h1></div>
<% @lessons.each do |les| %>
  <div class = "lessons">Урок <%= les.number %>: <%= les.title%></div>
  <div class = "move_center">
<% if current_user != nil %>
<%if CourseUser.find_by(user_id: current_user.id, course_id: @course.id) != nil%>  
  <div class="container">
    <%=button_to "Перейти в урок", "/lessons/show/#{les.id}", method: :get, class: "btn btn-outline-light me-2 text-bg-dark" %></button>
  </div>
</div>
<%end%>
<%end%>
<%end%>
