<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom header">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong><span class='white' id='home'>BMW Education</span></strong></span>
      <div class='text-right'>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 mb-md-0">
            <button type="button" class="btn btn-outline-light me-2 text-bg-dark"><%= link_to "Курсы", home_path, class: 'nav-link px-2 text-white' %></button>
             <% if user_signed_in? %>
              <% if current_user.role == 2%>
               <button type="button" class="btn btn-outline-light me-2 text-bg-dark"><%= link_to "Сотрудники", all_path, class: 'nav-link px-2 text-white' %></button>
              <%end%>
                  <button type="button" class="btn btn-outline-light me-2 text-bg-dark"><%= link_to "Рейтинг", rate_path, class: 'nav-link px-2 text-white' %></button>
                  <li class="nav-item dropdown mr-auto btn btn-outline-light me-2 text-bg-dark">
                    <a class="nav-link dropdown-toggle nav-link px-2 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= "#{current_user.first_name} #{current_user.second_name}"%>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-bg-dark" aria-labelledby="navbarDropdown">
                      <li><%=link_to "Личный кабинет",  profile_path, class: "nav-link px-2 text-white dropdown-item btn", type: "button"%></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><%= button_to "Выйти", session_path, method: :delete, class: "nav-link px-2 text-white dropdown-item btn btn-lg", id: 'ex_btn'%></li>
                      </ul>
            <% else %>
            <button type="button" class="btn btn-outline-light me-2 text-bg-dark"><%= link_to "Войти", login_path, class: 'nav-link px-2 text-white' %></button>
            <button type="button" class="btn btn-outline-light me-2 text-bg-dark"><%= link_to "Зарегистрироваться", new_user_path, class: 'nav-link px-2 text-white' %></button>
            <% end %>
        </ul>
         </div>
      </a>
    </header>