<%= form_with url: '/tests/ans', method: :get do |form| %>
<% $questions.each do |que| %>
  <p><%= form.label "ans#{que.num}".to_s, "Выберите ответ" %></p><div id = <%"ans_res#{que.num}"%>></div>
          <%= form.radio_button "ans#{que.num}".to_s, que.answer %> <%= que.answer%>
          <%= form.radio_button "ans#{que.num}".to_s, "wrong" %> Наставник</p>
          <%= form.radio_button "ans#{que.num}".to_s, "wrong" %> Администратор</p>
<% end %>
 <div class='col-auto'>
    <%= submit_tag("Сохранить", class: "btn btn-info", id: 'btn') %>
</div> 
<%end%>